<footer>
    <div class="footer-main">
        <div class="part">
            <div class="title">
                <span>Peýdaly</span>
            </div>
            <ul>
                <li><a href="#">Saýt barada</a></li>
                <li><a href="#">Ulanyjy ylalaşygy</a></li>
                <li><a href="#">Teswir ýazmak ylalaşygy</a></li>
                <li><a href="#">Goşmaça mümkinçilikler</a></li>
                <li><a href="#">Sorag we jogap</a></li>
                <li><a href="#">Android wersiýa</a></li>
                <li><a href="#">IOS wersiýa</a></li>
            </ul>
        </div>
        <div class="part">
            <div class="title">
                <span>Разные услугиy</span>
            </div>
            <ul>
                <li><a href="#">Santehnika we elektrika hyzmatlary</a></li>
                <li><a href="#">Gurnama işleri we hyzmat</a></li>
                <li><a href="#">Restawrasiýa</a></li>
                <li><a href="#">Foto we wideo hyzmatlary</a></li>
                <li><a href="#">Ulag we daşama hyzmatlary</a></li>
                <li><a href="#">Baýramçylyk we dabara hyzmatlary</a></li>
                <li><a href="#">Syýahatçylyk hyzmatlary</a></li>
            </ul>
        </div>
        <div class="part">
            <div class="title">
                <span>Автоуслуги/Запчасти</span>
            </div>
            <ul>
                <li><a href="#">Awtoulaglary abatlaýyş</a></li>
                <li><a href="#">Hereketlendirji abatlaýyş, ýag çalyşma</a></li>
                <li><a href="#">Korobka abatlaýyş we hyzmatlary</a></li>
                <li><a href="#">Kuzow hyzmatlary</a></li>
                <li><a href="#">Amortizator, balans-razwal, hadawoý hyzmatlary</a></li>
                <li><a href="#">Elektrika hyzmatlary</a></li>
                <li><a href="#">Kompýuter diagnostika hyzmaty</a></li>
                <li><a href="#">Awto restawrasiýa</a></li>
            </ul>
        </div>
        <div class="part">
            <div class="title">
                <span>Habarlaşmak üçin</span>
            </div>
            <ul class="create-info">
                <li>
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                            <path
                                d="M424,80H88a56.06,56.06,0,0,0-56,56V376a56.06,56.06,0,0,0,56,56H424a56.06,56.06,0,0,0,56-56V136A56.06,56.06,0,0,0,424,80Zm-14.18,92.63-144,112a16,16,0,0,1-19.64,0l-144-112a16,16,0,1,1,19.64-25.26L256,251.73,390.18,147.37a16,16,0,0,1,19.64,25.26Z" />
                        </svg></span>
                    <a href="#"> tmcarssupp@gmail.com</a>
                </li>
                <li>
                    <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#5f6368">
                            <path
                                d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-7-.5-14.5T799-507q-5 29-27 48t-52 19h-80q-33 0-56.5-23.5T560-520v-40H400v-80q0-33 23.5-56.5T480-720h40q0-23 12.5-40.5T563-789q-20-5-40.5-8t-42.5-3q-134 0-227 93t-93 227h200q66 0 113 47t47 113v40H400v110q20 5 39.5 7.5T480-160Z" />
                        </svg></span>
                    <a href="#">info@tmcars.info</a>
                </li>
                <li>
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512" class="">
                            <path
                                d="M256,48C141.13,48,48,141.13,48,256s93.13,208,208,208,208-93.13,208-208S370.87,48,256,48Zm96,240H256a16,16,0,0,1-16-16V128a16,16,0,0,1,32,0V256h80a16,16,0,0,1,0,32Z" />
                        </svg></span>
                    <a href="#">Sagat 09:00 - dan 18:00 çenli</a>
                </li>
                <li>
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                            <path
                                d="M261.56,101.28a8,8,0,0,0-11.06,0L66.4,277.15a8,8,0,0,0-2.47,5.79L63.9,448a32,32,0,0,0,32,32H192a16,16,0,0,0,16-16V328a8,8,0,0,1,8-8h80a8,8,0,0,1,8,8l0,136a16,16,0,0,0,16,16h96.06a32,32,0,0,0,32-32l0-165.06a8,8,0,0,0-2.47-5.79Z" />
                            <path
                                d="M490.91,244.15l-74.8-71.56,0-108.59a16,16,0,0,0-16-16h-48a16,16,0,0,0-16,16l0,32L278.19,40.62C272.77,35.14,264.71,32,256,32h0c-8.68,0-16.72,3.14-22.14,8.63L21.16,244.13c-6.22,6-7,15.87-1.34,22.37A16,16,0,0,0,43,267.56L250.5,69.28a8,8,0,0,1,11.06,0L469.08,267.56a16,16,0,0,0,22.59-.44C497.81,260.76,497.3,250.26,490.91,244.15Z" />
                        </svg></span>
                    <a href="#">A.Nyýazow şaýoly 174, Aşgabat</a>
                </li>
                <li>
                    <a href="#">
                        <img src="public/icons/facebook_logo.png" alt="facebook_logo" />
                    </a>
                    <a href="#">
                        <img src="public/icons/twitter_logo.png" alt="twitter_logo" />
                    </a>
                    <a href="#">
                        <img src="public/icons/instagram_logo.webp" alt="instagram_logo" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p class="copyright">
        Copyright © 2025 <span>TMCARS</span>. All rights reserved.
    </p>
</footer>
