.additions-cont{
  position: fixed;
  z-index:9;
  bottom:20px;
  right: 40px;
  display:flex;
  gap:10px;
}

.additions-cont button{
  cursor: pointer;
  border:none;
  background-color: transparent;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  padding:10px;
  margin:auto auto;
}
.additions-cont button.msg-btn svg:first-child {
  display: inline-block;
}
.additions-cont button.msg-btn svg:last-child{
  display: none;
}
.additions-cont button.msg-btn.active svg:first-child {
  display: none;
}
.additions-cont button.msg-btn.active svg:last-child {
  display: inline-block;
}
.additions-cont button.msg-btn.active,
.additions-cont button:hover{

  background-color: var(--secondary-orange-color);
}
.additions-cont button.msg-btn.active svg,
.additions-cont button:hover svg{
  fill: var(--white-color);
}

.additions-cont svg{
  width:20px;
  height:20px;
}
.additions-cont  button:nth-child(2),.additions-cont .chat-cont{
  display:none;
}

@media(min-width:640px){
  .additions-cont  button:nth-child(2){
    display:flex;
  }
  .additions-cont .chat-cont{
    position: absolute;
    top:-185px;
    right:0px;
    width:fit-content;
    flex-direction: column;
    background-color: var(--primary-bg-color);
    border-radius: 10px;
    padding:5px;
    
  }
  
  .input-send-cont{
    display:flex;
    justify-content: space-between; 
    width:fit-content;
    align-items: center;
  }
  .chat-title{
    padding:5px;
    color:var(--online-bg-color);
    font-weight: bold;
    position: relative;
    margin-bottom:10px;

  }
  .chat-title::after{
    content: '';
    width:80%;
    height:2px;
    position: absolute;
    bottom:0px;
    left: 5px;
    background-color:var(--teal-blue-color);
    border-radius:5px;
  }
  .writed-chats{
      display:flex;
      flex-direction:column;
      padding:10px 5px;
      height:100px;
      overflow-y: scroll;
  }
  .writed-chats::-webkit-scrollbar{
    width:0.5rem;
  }
  .writed-chats::-webkit-scrollbar-thumb{
    background-color:var(--secondary-bg-color);
    border-radius:5px;
  }
  .writed-chats::-webkit-scrollbar-thumb:hover{
    background-color:var(--third-bg-color);
  }
  .writed-chats .question{
    color:var(--teal-blue-color);
    position: relative;
    margin-bottom: 5px;
  }

  .writed-chats .answer{
    align-self: flex-end;
    color:var(--secondary-blue-color);
    margin-bottom: 5px;
  }
  .online-chat-content{
    height:35px;
    margin-right: 10px;
    padding-left:5px;
    font-size:1rem;
    border-radius:5px;
    outline:none;
    border:none;
    background-color: var(--secondary-bg-color);
    color:var(--primary-text-color);
  }
  .online-chat-content:focus{
    border:1px solid var(--third-text-color);
  }

  .input-send-cont button{
    width:50px;
    border-radius:10px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:var(--card-border);
  }
}