@import url('global.css');
@import url('header.css');
@import url('additions.css');
@import url('footer.css');


main{
    padding:0;
}
.page-header{
    width: 100%;
    font-size: 1rem;
    border-bottom: var(--card-border);
    padding:.5rem 1rem;
    color: var(--third-text-color);
    background-color: var(--primary-bg-color);
    box-shadow: var(--card-shadow);
}
.category-container{
    padding:1rem 1.4rem;
    display: flex;
    gap:1rem;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}
@media (min-width:660px){
    .category-container{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .category-container::after {
        content: '';
        width: 260px;
        height: 200px;   
    }
}
@media (min-width:935px) {
    .category-container {
        justify-content: space-between;
    }
}  
.category{
    width: 260px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: var(--card-border-radius);
}

.category img{
    width: 100%;
    height: 100%;
    transition: all ease-in-out .5s;
}
.category .content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.281);
    transition: all ease-in-out .5s;
}
.category .content .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.5rem;
    color:var(--white-color);
}
.category:hover img{
    transform: scale(1.2);
}
.category:hover .content{
    background-color: #02194e8c;    ;
}