@import url('global.css');
@import url('header.css');
@import url('additions.css');
@import url('footer.css');
@import url('card.css');


main{
    padding:0;
    background-color: var(--primary-bg-color);
}
.page-header{
    font-size: .9rem;
    padding:1rem 1rem;
    border-bottom: var(--card-border);
    color: var(--third-text-color);
    background-color: var(--primary-bg-color);
    box-shadow: var(--card-shadow);
}
.links{
    width: fit-content;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
}
.category-body a,
.links a{
    font-weight: 500;
    transition: all ease-in-out .5s;
}
.category-body a:hover,
.links a:hover{
    color:var(--link-hover-color);
}
.links .self{
    color:var(--primary-orange-color);
    text-transform: uppercase;
}

.container{
    padding:1rem;
    background-color: var(--primary-bg-color);
}
.profile-header{
    background-color: var(--secondary-bg-color);
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    padding-top: 2em;
    border: 1px solid var(--secondary-border-color);
    border-radius: 5px;
    padding-bottom: .5rem;
}
.container .img-wrapper {
    border: 4px solid var(--secondary-border-color);
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 2px var(--secondary-border-color);
    margin-bottom: .2rem;
}

.img-wrapper img {
    width: 150px;
    height: 150px;
}
.profile-header .profile-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.3rem;
    font-weight: 500;
    padding:0 1rem;
}
.profile-content .category-title{
    text-transform: uppercase;
}
.others-info{
    display: flex;
    gap:.3rem;
    color:var(--primary-text-color);
    font-size: 1rem;
}
.looks-count{
    display: flex;
    align-items: flex-end;
    gap:.3rem;
    font-size: .8rem;
}
.looks-count svg{
    fill:var(--primary-text-color);
}
.header-discription{
    color:var(--secondary-text-color);
    margin-bottom: .5rem;
    text-align: center;
}
.profile-connects{
    display: flex;
    gap:.5rem;
    align-items: center;
}
.profile-connects img{
    width: 24px;
    height: auto;
    border-radius: 5px;
}
.profile-body .tabs{
    display: flex;
    flex-wrap: wrap;
    gap:.5rem;
    padding:1rem;
    width: 100%;
    border:var(--card-border);
    font-weight: 500;
    font-size: 1rem;
}
.tabs .tab{
    padding-bottom: .5rem;
    max-width: 49%;
    min-width: 150px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tabs .tab:hover{
    cursor: pointer;
}
.tabs .tab.active{
    border-bottom: 2px solid var(--secondary-orange-color);
}
.tab-video{
    font-weight: bold;
}
.tab-contents{
    padding: 1rem;
}
.tab-contents .info{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
}
.tab-contents .video{
    display: flex;
    justify-content: center;
}
.tab-contents .video video{
    min-width: 250px;
    max-width: 500px;
}
.tab-contents .connects{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap:.1rem;
}
.tab-contents .connects .item-info{
    flex:0 1 49%;
    display: flex;
    gap:.5rem;
}
.tab-contents .connects .item-info .of-data{
    font-weight: 500;
}









.category-container{
    padding:1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:1rem;
}

.category{
    width: 200px;
    height: 300px;
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:.3rem;
    border:1px solid var(--primary-border-color);
    border-radius: var(--card-border-radius);
    user-select: none;
    background-color: var(--primary-bg-color);
}

.category .category-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.3rem;
}
.category-body .category-title{
    text-align: center;
    width: 100%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
    text-transform: uppercase;
}
.category-body .category-discription,
.category-body .category-name{
    width: 100%;
    text-align: center;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
}
.category-body .category-discription{
    font-weight: 700;
}
.category .is-videos{
    color:var(--white-color);
    background-color: var(--primary-orange-color);
    border-radius: 5px;
    padding: .1rem;
    padding-right: .3rem;
    max-width: 100%;
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .3rem;
}
.category .is-videos svg{
    fill: var(--white-color);
    width: 1.2rem;
    height: 1.5rem;
}