.card {
  width: var(--card-width);
  background-color:var(--primary-bg-color);
  border-radius: 5px;
  border: var(--card-border);
  box-shadow:var(--card-shadow);
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.card svg{
  width: 1rem;
  height: 1rem;
}
.card img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width:100%;
  height: auto;
}
.card .product-images{
  position: relative;
}
.card .arrow-ribbon,
.card .addToLiked,
.card  .business-info{
  position: absolute;
}

.card .arrow-ribbon {
  color:var(--white-color);
  background-color: var(--secondary-orange-color);
  padding:0.1rem 0.75rem;
  font-weight: 500;
  letter-spacing: 2px;
  font-size:1.1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  top:10px;
  left:-10px;
  height: 1.75rem;
  display: none;
  align-items: center;
}
.card .arrow-ribbon::before{
  position: absolute;
  top: 0;
  content: "";
  right: -1rem;
  border-top: 0.95rem solid transparent;
  border-bottom: 0.95rem solid transparent;
  border-left: 0.92rem solid var(--secondary-orange-color);
}
.card.vip-bg .arrow-ribbon {
  display: flex;
}
.card .addToLiked{
  top:10px;
  right:5px;
  width:30px;
  height:30px;
  padding:5px;
  background-color: var(--secondary-bg-color);
  border-radius:50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease-in-out all;
}
.card .addToLiked svg {
  width: 100%;
  height: 100%;
  fill: var(--primary-text-color);
  transition: .5s ease-in-out all;
}
.card .addToLiked.active,
.card .addToLiked:hover{
  background-color: var(--secondary-orange-color);
}
.card .addToLiked.active svg,
.card .addToLiked:hover svg{
  fill:var(--white-color);
}

.card .business-info{
  bottom:1rem;
  left: 0.3rem;
  padding: 0.1rem 0.7rem;
  background-color: var(--teal-blue-color);
  color:var(--white-color);
  display:flex;
  justify-content: center;
  align-items: flex-end;
  gap:0.3rem;
  border-radius:0.3rem;
  font-size:0.8rem;
}
.card .business-info svg{
  fill: var(--white-color);
}
.card .card-body{
  display: flex;
  flex-direction: column;
  gap:0.3rem;
  padding:1rem;
  margin:0;
  position: relative;
}
.card .card-body .comment-price{
  display:flex;
  align-items: center;
  gap:0.7rem;
  font-size: 0.9rem;
}
.card .product-price{
  font-weight: 600;
}
.card .card-body .comment-price .comment{
  display: flex;
  align-items: flex-end;
  gap:0.7rem;
}
.card .product-link{
  font-size: 1rem;
  color:var(--secondary-text-color);
  font-weight: 500;
  transition: 500ms ease-in-out all;
}

.card .product-link:hover{
  color:var(--primary-orange-color);
}
.card .product-others{
  display: flex;
  align-items: center;
  gap:0.7rem;
  font-size: 0.7rem;
  margin-top: .5rem;
}
.card .product-location,
.card .product-time {
  display: flex;
  align-items: flex-end;
  align-items: center;
  gap:0.2rem;
}
.card.vip-bg .card-body{
  color:var(--secondary-text-color);
}

/* medium-card in others page*/
.medium-card{
  width:100%;
  height: 178px;
  background-color: var(--primary-bg-color);
  color:var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  border: var(--card-border);
  box-shadow: var(--card-shadow);
  border-radius:5px;
}

.medium-card .product-img-link{
  min-width: 80px;
  max-width: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius:5px 0 0 5px;
}
.product-img-link .product-img{
  height: 100%;
  width: auto;
}
.medium-card-body{
  width: 100%;
  display: flex;
  align-items: center;
  gap:0.5rem;
  padding:0.8rem;
}
.medium-card-body .text-contents{
  display: flex;
  flex-direction: column;
  gap:.4rem;
}
.text-contents .product-link{
  height: 3.5em;
  width: 100%;
  overflow: hidden;
}
.medium-card-body .others{
  display: flex;
  gap:.6rem;
  flex-wrap: wrap;
  margin-top: .3rem;
}
.medium-card-body .others span{
  display: flex;
  gap:.4rem;
  font-weight: 500;
  font-size:.8rem;
}
.medium-card-body .others span svg{
  fill:var(--primary-text-color);
}
.medium-card-body .product-discription{
  font-size: .9rem;
  font-weight: 500;
  overflow: hidden;
  height: 2.3em;
}
.medium-card-body .price{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:1rem;
  margin-top: .5rem;
}
.medium-card-body .product-business-info{
  padding:.2rem;
  border-radius: 5px;
  font-size: .9rem;
  display: flex;
  gap: .4rem;
  background-color: var(--teal-blue-color);
  color:var(--white-color);
  display: flex;
  align-items: center;
  font-weight: 500;
}
.medium-card-body .product-business-info svg{
  fill:var(--white-color);
}
.medium-card .arrow-ribbon img{
  width:70px;
}

/* mini-card in product page */
.mini-card{
  width: 100%;
  display: flex;
  align-items: center;
}
.mini-card img{
  max-height: 100px;
  min-height: 80px;
  min-width: 122px;
  max-width: 140px;
}
.mini-card-content{
  display: flex;
  flex-direction: column;
  min-height: 100px;
  height: auto;
  width: 100%;
  gap:.3rem;
  padding:.5rem;
  font-weight: 500;
}
.mini-card-title{
  font-size: .8rem;
  width: 100%;
  font-weight: 700;
  text-wrap: nowrap;
  overflow: hidden;
  height: 20px;
  text-overflow: ellipsis;
}
.mini-card-description{
  width:100%;
  display:-webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}
.mini-card .busniss-profile-badge{
  background-color: var(--primary-orange-color);
  color: var(--white-color);
  padding:.3rem .3rem .2rem .3rem;
  width:fit-content;
  border-radius: 5px;
  font-size: .7rem;
}
.mini-card .product-location{
  display: flex;
  gap:.3rem;
  font-size: .8rem;
}
.mini-card .product-location svg{
  width: 1rem;
  height: 1rem;
}
.mini-card .product-price{
  font-size: .9rem;
}
.mini-card .product-title {
  font-size: .9rem;
  margin-bottom:.2rem;
}
.product-posts-inner .mini-card-title{
  text-wrap: wrap;
  height: auto;
  font-weight: 500;
  height: 100px;
  padding-top: .8rem;
}