footer{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--footer-bg-color);
  font-weight: 500;
  padding:0;
}
.footer-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:1rem;
  padding:1.2rem;
  padding-top:20px;
  
}
.footer-main a{
  transition: .5s ease-in-out all;
  font-size: .8rem;
}
.footer-main a:hover{
  color: var(--white-color);
}
.footer-main .title{
  position: relative;
  padding-bottom: 5px;
  color: var(--primary-orange-color);
  margin-bottom: 1.1rem;
  font-size:1rem;
}
.footer-main .title::after{
  content: '';
  width:70%;
  height: 2px;
  background-color: var(--secondary-orange-color);
  position: absolute;
  bottom:0;
  left:0;
}
footer .part {
  min-width: 200px;
}
footer .part ul{
  display:flex;
  flex-direction: column;
  gap:.3rem;
}
footer img{
  width:24px;
  height: 24px;
  border-radius: 5%;
}

footer .copyright{
  width: 100%;
  text-align: center;
  padding:.2rem 1rem;
  color:var(--white-color);
  font-size: 0.8rem;
  background-color: var(--primary-bg-color);
}
.copyright span{
  color:var(--primary-orange-color);
}

@media(min-width:420px){
  .footer-main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media(min-width:620px){
  .footer-main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}