@import url('global.css');
@import url('header.css');
@import url('card.css');
@import url('additions.css');
@import url('footer.css');

main{
  padding:0;
  background-color: var(--primary-bg-color);
}
/* page header */
main .page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  padding: 0.8rem;
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid var(--primary-border-color);
  margin-bottom: .7rem;
}
.page-header .page-title {
  font-size: 1.2rem;
}
.page-header .breadcrumb {
  list-style: none;
  display: flex;
  gap: .3rem;
  color: var(--pramary-text-color);
  font-weight: 500;
  font-size: .9rem;
}
.breadcrumb .breadcrumb-item:nth-child(2n){
  font-weight: 900;
}
.breadcrumb .breadcrumb-item:last-child {
  color: var(--primary-orange-color);
}
.page-header a{
  transition: all ease-in-out .5s;
}
.page-header a:hover{
  color:var(--link-hover-color);
}
/* page content */
.page-container{
  display: flex;
  flex-direction: column;
  gap:1rem;
  padding:1rem;
}
.left-container{
  
}
.tags-container,
.categories-container{
  border:var(--card-border);
  border-radius: 5px;
  font-weight: 500;
}
.card-header{
  padding:1rem;
  font-weight: 500;
}
.categories{
  display: flex;
  flex-direction: column;
  list-style: none;
}
.categories li{
  border-top:var(--card-border);
  padding:.8rem;
}
.tag-button,
.category{
  transition: all ease-in-out .5s;
}
.category {
  overflow: hidden;
  text-overflow: ellipsis;
}
.category.active,
.category:hover{
  color:var(--primary-orange-color);
}
.tags-container{
  margin-top:1rem;
}
.tag-buttons{
  border-top: var(--card-border);
  padding:1rem;
  display: flex;
  flex-wrap: wrap;
  gap:.8rem;
}
.tag-button{
  padding:.3rem .4rem; 
  border:var(--card-border);
  border-radius: 3px;
}
.tag-button:hover{
  background-color:var(--primary-orange-color);
  border-color: var(--primary-orange-color);
  color:var(--white-color);
}
.right-container{

}
.card-container{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.content-card-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: var(--card-border);
  border-radius: 5px;
  font-family:var(--font-family-mulish);
}
.content-card-container img{
  width:138px;
  max-width: 296px;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.content-card-container .card-content{
  display: flex;
  flex-direction: column;
  gap:.5rem;
  padding:1rem;
}
.card-content .data-others{
  display: flex;
  flex-wrap: wrap;
  gap:.2rem 2rem;
  font-weight: 500;
}
.data-others svg{
  fill:var(--primary-text-color);
}
.data-time, .data-looks{
  display: inline-flex;
  gap:.5rem;
}
.card-content .title{
  transition: all ease-in-out .5s;
}
.card-content .title:hover{
  color:var(--link-hover-color);
}
.card-content .text-content{
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pagination-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.page-item{
  width: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  border: var(--card-border);
  padding:.3rem;
}
.page-item:first{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.page-item:last-child{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.page-item.disable span{
  opacity: .5;
}

.page-item{
  transition: all ease-in-out .5s;
}

.page-item:hover{
  background-color: var(--secondary-bg-color);
  color: var(--secondary-orange-color);
}

a.page-item.disable:hover,
span.page-item:hover{
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

a.page-item.active{
  color:var(--white-color);
  background-color: var(--secondary-orange-color);
  border-color: var(--secondary-orange-color);
}


@media (min-width: 576px) {
  .content-card-container .img {
    width: 33%;
  }
  .content-card-container img{
    width: 100%;
  }
  .content-card-container .card-content {
    flex: 0 0 67%;
    max-width: 67%;
  }
}

@media (min-width:900px) {
  .page-container {
    flex-direction: row;
  }
  .tags-container,
  .categories-container {
    width: 255px;
  }
  .content-card-container .img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .content-card-container img {
    width: auto;
    height: 196px !important;
    border-radius: 0;
  }
  .card-content .text-content {
    -webkit-line-clamp: 6;
    line-height: 1.2;
  }
}