@import url('global.css');
@import url('header.css');
@import url('additions.css');
@import url('footer.css');
@import url('card.css');

main{
    padding:0;
    background-color: var(--primary-bg-color);
    container: main inline-size;
}
.page-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:.6rem;
    font-weight: 500;
    padding:.5rem 1rem;
    list-style: none;
    border-bottom: 2px solid var(--secondary-border-color);
}
.page-header li a:hover{
    color: var(--link-hover-color);
}
.page-header .page-product-title{
    color:var(--secondary-orange-color)
}
.page-header li:nth-child(2n){
    font-weight: bold;
    color:var(--secondary-text-color);
}
/* page body */
.page-body{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding: 1rem;
}
.left-content-container{
    width: 100%;
    /* min-width: 400px; */
    display: flex;
    flex-direction: column;
    gap:1rem;
    container-name: card;
    container-type: inline-size;
}

@media (min-width:800px) {
    .page-body {
        flex-direction: row;
        justify-content: center;
    }
    .right-content-container{
        min-width: 320px;
        max-width: 420px;
    }
}

.right-content-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.right-content-container a:hover{
    color:var(--link-hover-color);
}
.card-border{
    border: var(--card-border);
    border-radius: 5px;
}
.card-border svg{
    fill: var(--primary-text-color);
    width: 1rem;
    height: 1rem;
}
.product-card-header {
    position: relative;
    overflow: hidden;
    padding: 1rem;
}
.product-card-header .card-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}
.card-others{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    font-size: .8rem;
    color: var(--primary-text-color);
    margin-bottom: 1rem;
}
.card-others span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:.5rem;
}
.product-card-header .vip-ribbon{
    position: absolute;
    background-color:#ff392b;
    width:200px;
    height: 30px;
    top:1.2rem;
    right: -70px;
    color:var(--white-color);
    display:flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(45deg);
    font-weight: 500;
    box-shadow: 0 0 5px var(--third-text-color);
}
.card-img-price{
    position: relative;
}
.card-price{
    position: absolute;
    z-index:2;
    top:0.7rem;
    background-color: var(--secondary-orange-color);
    color:var(--white-color);
    padding:.2rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.card-price::before{
    content: '';
    position: absolute;
    right: -1.1rem;
    top:0;
    border-top: .95rem solid transparent;
    border-bottom: .95rem solid transparent;
    border-left: 1rem solid var(--secondary-orange-color);
}
.card-imgs-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    max-height: 400px;
    overflow: hidden;
    width:100%;
}
.card-imgs-container .images{
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.product-imgs-side-container img,
.card-imgs-container .show-imgs img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}
.card-imgs-container .loading-img-container:has(svg){
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-imgs-container .loading-img-container:not(:has(svg.not-show)){
    height: 100%;
}
.product-imgs-side-container .loading-img-container svg,
.card-imgs-container .loading-img-container svg {
    width: 60px;
    height: 60px;
    animation-name: svg-load;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.product-imgs-side-container .arrow-btns button,
.card-imgs-container button{
    background-color: transparent;
    border:none;
    position: absolute;
    top:calc(50% - 20px);
    border-radius: 50%;
    padding:0.5rem;
    cursor: pointer;
    z-index: 10;
}
.product-imgs-side-container .arrow-btns button:hover,
.card-imgs-container button:hover{
    background-color: rgba(0, 0, 0, 0.24);
}
.product-imgs-side-container .arrow-btns button svg,
.card-imgs-container button svg{
    width:2rem;
    height: 2rem;
    fill: transparent;
}
.product-imgs-side-container .arrow-btns button:hover,
.card-imgs-container:hover button{
    background-color: rgba(0, 0, 0, 0.1);
}
.product-imgs-side-container .arrow-btns button svg,
.card-imgs-container:hover button svg{
    fill:rgba(240, 248, 255, 0.342);
}
.product-imgs-side-container .arrow-btns button:hover svg,
.card-imgs-container button:hover svg{
    fill:var(--white-color);
}
.product-imgs-side-container .arrow-btns button.back,
.side-left-btn{
    left: 1rem;
}
.product-imgs-side-container .arrow-btns button.forward,
.side-right-btn{
    right: 1rem;
}
.product-card-body{
    color:var(--primary-text-color);
}
.product-card-body > *{
    padding:1rem;
    font-weight: 500;
}
.container-title{
    width:100%;
    border-bottom: 1px solid var(--primary-border-color);
    padding:.5rem 1rem;
}
.product-card-body h4{
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1rem;
    font-weight: 600;
}
.product-card-body .mobile-number[data-id]:hover{
    cursor: pointer;
    color: var(--link-hover-color);
}
.product-card-info{
    width:100%;
    color:var(--third-text-color);
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding-bottom: 2rem;
    overflow-x: auto;
}
.product-card-info ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:.6rem;
    max-width: 100%; 
    white-space: nowrap;
    
}
@container card (min-width: 530px) {
    .product-card-info {
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
    }

    .product-card-info ul {
        width: fit-content;
        min-width: 240px;
    }
}

.product-card-info li{
    display: flex;
    align-items: flex-start;
    gap:.3rem;
    padding: .2rem  0 .5rem .2rem;
    border-bottom: 1px solid var(--primary-border-color);    
}

.product-card-info .name{
    font-weight: 600;
}
.product-card-info .infor svg{
    width: 0.9rem;
    height: 0.8rem;
}

.product-card-footer{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-top: 1px solid var(--primary-border-color);
}
.product-card-footer button{
    display: flex;
    align-items: center;
    gap:.3rem;
    padding:.4rem .5rem;
    border: 1px solid var(--primary-border-color);
    border-radius: 5px;
    font-family:'Trebuchet MS', sans-serif;
    color: var(--white-color);
    background-color: #ff392b;
    cursor: pointer;
    transition: 0.5s ease-in-out all;
}
.product-card-footer button svg{
    fill: var(--white-color);
}
.product-card-footer button:hover{
    opacity: 0.93;
}
.product-card-footer .likeBlock{
    background-color: var(--third-orange-color);
}
.product-card-footer .dislikeBlock {
    background-color: rgb(230, 11, 11);
}
.product-card-footer .sharingLink {
    background-color: var(--online-bg-color);
}

.comments .comment{
    width: 100%;
    display: flex;
    gap:.4rem;
    padding: 1rem;
    border-top: 1px solid var(--primary-border-color);
    font-weight: 500;
    font-size: .8rem;
}

.comment img{
    height: 60px;
    width: auto;
}
.comment .content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.comment .writed-time{
    display: inline-flex;
}
.writed-time .text{
    margin-left: .4rem;
}
.comment .user-name{
    font-weight: 600;
}
.comment .writed-content {
    color: var(--third-text-color);
    padding:.5rem 0;
}
.comment .like-buttons{
    margin-bottom: .5rem;
}
.comment .like-buttons button{
    padding:.1rem .2rem;
    border: 1px solid var(--secondary-border-color);
    background-color: var(--thrid-bg-color);
    border-radius: 3px;
    cursor: pointer;
}
.comment .like-buttons button.active svg {
    fill: var(--white-color);
}
.comment .like-buttons .link-comment.active{
    background-color: var(--secondary-blue-color);
}

.comment .like-buttons .dislike-comment.active {
    background-color: red;
}

.new-comment-container .new-comment-form{
    padding:1rem;
}
.new-comment-form form{
    display: flex;
    flex-direction: column;
}
.new-comment-form form textarea{
    padding:0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    background-color: var(--primary-bg-color);
    color:var(--primary-text-color);
    width: 100%;
    min-height: 8rem;
    resize: vertical;
}
.new-comment-form form textarea::placeholder{
    font-size: .9rem;
}
.new-comment-form button[type='submit']{
    padding:.7rem;
    width: fit-content;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--secondary-orange-color);
    color:var(--white-color);
    cursor: pointer;
    transition: .5s ease-in-out all;
}
.new-comment-form button[type='submit']:hover{
    border-color: var(--primary-text-color);
}
.same-products .card-container{
    padding:1em;
    /* display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,300px));
    gap: 1em 1em; */
    display: flex;
    flex-wrap: wrap;
    gap: 1em 2em;
    justify-content: flex-start;
}
@container card (max-width: 460px) {
    .same-products .card-container {
        justify-content: center;
    }
}

.same-products .card-container .card{
    min-width: 200px;
    max-width: 300px;
    width: auto;
    flex:0;
}

.busniss-profile-container{
    font-weight: 500;
} 
.busniss-profile-container .card-header{
    padding:1rem;
    border-bottom: 1px solid var(--primary-border-color);
}
.busniss-profile-container .card-header h3{
    font-weight: 500;
}
.busniss-profile-container .img-wrapper {
    border: 4px solid var(--secondary-border-color);
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 2px var(--secondary-border-color);
    margin-bottom: .2rem;
    margin-top: 1rem;
}

.busniss-profile-container .img-wrapper img {
    width: 120px;
    height: 120px;
}
.busniss-profile-container .contents{
    display: flex;
    flex-direction: column;
    gap:.5em;
    align-items: center;
}
.busniss-profile-container .profile-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.busniss-profile-container .title{
    text-transform: uppercase;
}
.busniss-profile-container .discription{
    text-align: center;
    padding:0 1rem;
    margin-top: .4rem;
}
.busniss-profile-container .contents a{
    padding:.1rem .5rem;
    background-color: var(--secondary-orange-color);
    color:var(--white-color);
    margin-bottom: 1rem;
    border-radius: 5px;
    border:var(--card-border);
}
.busniss-profile-container .contents a:hover{
    color:var(--white-color);
    transform: scale(1.05);
}
.busniss-profile-container .connects{
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding:1rem;
    border-top:1px solid var(--primary-border-color);
}

.busniss-profile-container .connects .phone-number{
    display: flex;
    gap:1rem;
}
.busniss-profile-container .connects a.phone-number:hover{
    color:var(--primary-text-color);
}
.busniss-profile-container .sosial-media {
    display: flex;
    gap: .5rem;
    align-items: center;
}
.busniss-profile-container .sosial-media img {
    width: 24px;
    height: auto;
    border-radius: 5px;
}
.mini-card-container{
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin-top:1em;
}

/* zoom container */
body {
    position: relative;
}
.product-imgs-side-container{
    position: fixed;
    top:0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-imgs-side-container .imgs-info{
    letter-spacing: 3px;
    color:var(--white-color);
    font-weight: 500;
    position: absolute;
    z-index: 10;
    padding: 0.5rem 1rem;
    top: 0;
    left: 1rem;
}
.product-imgs-side-container .img-tools{
    display: flex;
    gap:.4rem;
    position: absolute;
    z-index: 10;
    padding: 0.5rem 1rem;
    right: .5rem;
    top:0;
}
.product-imgs-side-container .img-tools button{
    background-color: var(--primary-bg-color);
    border: none;
    border-radius: 2px;
    padding:.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-imgs-side-container .img-tools button svg{
    fill: var(--third-text-color);
}
.product-imgs-side-container .img-tools button:last-child svg {
    fill:red;
}
.product-imgs-side-container .img-tools button:hover{
    cursor: pointer;
    background-color: var(--primary-orange-color);
}
.product-imgs-side-container .img-tools button:last-child:hover{
    background-color: red;
}
.product-imgs-side-container .img-tools button:hover svg {
    fill:var(--white-color);
}
.product-imgs-side-container .side-img{
    width: 90vw;
    height: 100vh;
    padding:.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.product-imgs-side-container .side-img img{
    cursor: zoom-in;
    transform-origin: center;
    transition: all ease-in-out .5s;
}